<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya Centre | Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- CSS -->
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/profile.js') }}"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">

        <!-- Navigation Bar: Brand Logo -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">
                <img src="/static/images/logo.png" alt="Aarogya Centre Logo" width="200" height="100">
            </a>

            <!-- Navigation Bar: User Name -->
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {% if basic_data[1] %}
                            <img src="{{ basic_data[1] }}" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% else %}
                            <img src="/static/images/user-icon.png" alt="User Icon" width="50" height="50"
                                style="border: 5px solid #22577A; border-radius: 100%;" />
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">View dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Need help?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('home') }}">Log Out</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </nav>
    
    <div class="row w-100">
        <div class="col-md-4">

            <!-- Profile Completion Card -->
            <div class="card shadow p-4" id="profile-completion-card">
                <h5>Profile completion</h5>

                {% if account_type == 'Normal' %}
                    <div class="progress mt-2">
                        <div class="progress-bar" role="progressbar" id="pb" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            {{ complete_percentage }}%
                        </div>

                        <script>
                            var bar = document.getElementById('pb')
                            bar.style.width = '{{ complete_percentage }}%';
                        </script>
                    </div>
                {% else %}
                    <div class="progress mt-2">
                        <div class="progress-bar" role="progressbar" id="pb" aria-valuenow="0" aria-valuemin="0" aria-valuemax="40">
                            {{ complete_percentage }}%
                        </div>

                        <script>
                            var bar = document.getElementById('pb')
                            bar.style.width = '{{ complete_percentage }}%';
                        </script>
                    </div>
                {% endif %}
            </div>

            <!-- Family Member Card -->
            <div class="card shadow p-4 mt-4" id="family-member-card">
                <h5>Family Members</h5>
                
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <h6>#{{ basic_data[0] }}</h6>
                    </div>

                    <div class="col-md-10">
                        <h6>{{ basic_data[2] }} {{ basic_data[3] }}</h6>
                    </div>
                    <hr>
                </div>

                {% for member in member_basic_data %}
                    <div class="row">
                        <div class="col-md-2">
                            <h6>#{{ member[0] }}</h6>
                        </div>

                        <div class="col-md-7">
                            <h6>{{ member[2] }} {{ member[3] }}</h6>
                        </div>

                        <div class="col-md-3">
                            <h6></h6>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

                <a class="btn btn-custom" href="{{ url_for('add_member') }}" role="button">Add a member</a>
            </div>

            <!-- Appointment Link Card -->
            <div class="card shadow p-4 mt-4" id="appointment-link-card">
                <div class="row">
                    <div class="col">
                        <h2><b>Instantly book an appointment with a doctor</b></h2>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <br>
                                <br>
                                <a class="btn btn-custom" href="{{ url_for('dashboard') }}" role="button">Book</a>
                            </div>

                            <div class="col">
                                <img src="/static/images/appointment-icon.png" alt="Communicate Vector" width="125" height="160">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Communicate Link Card -->
            <div class="card shadow p-4 mt-4" id="communicate-link-card">
                <div class="row">
                    <div class="col">
                        <h2><b>Now you can instantly communicate with a doctor!</b></h2>
                    </div>
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <br>
                                <br>
                                <a class="btn btn-custom" href="{{ url_for('communicate') }}" role="button">Contact</a>
                            </div>

                            <div class="col">
                                <img src="/static/images/communicate-icon.png" alt="Communicate Vector" width="115" height="150">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-8">

            <!-- Profile Card -->
            <div class="card shadow p-4" id="profile-card">
                <h5>Profile</h5>
                <br>

                <div class="row d-flex align-items-end">
                    <div class="col">

                        {% if account_type == 'Normal' %}
                            {% if basic_data[1] %}
                                <img src="{{ basic_data[1] }}" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                            {% else %}
                                <img src="/static/images/user-icon.png" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>User ID</h6>
                                </div>

                                <div class="col-md-9">
                                    <h6><b>{{ basic_data[0] }}</b></h6>
                                </div>
                            </div>

                            {% for i in range(2, 5) %}
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>{{ basic_fields[i] }}</h6>
                                </div>

                                <div class="col-md-9">
                                    <h6><b>{{ basic_data[i] }}</b></h6>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Address</h6>
                                </div>

                                <div class="col-md-9">
                                    {% if basic_data[5] %}
                                        <h6><b> {{ home_address[0] }}<br>
                                                {{ home_address[1] }}<br>
                                                {{ home_address[2] }}</b></h6>
                                    {% else %}
                                        <br><br><br>
                                    {% endif %}
                                </div>
                            </div>

                            {% for i in range(6, 9) %}
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>{{ basic_fields[i] }}</h6>
                                </div>

                                <div class="col-md-9">
                                    <h6><b>{{ basic_data[i] }}</b></h6>
                                </div>
                            </div>
                            {% endfor %}

                        {% else %}
                            {% if basic_data[1] %}
                                <img src="/{{ profile_picture }}" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                            {% else %}
                                <img src="/static/images/user-icon.png" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br><br><br><br>
                            {% endif %}
                            
                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <h6>Doctor ID</h6>
                                </div>

                                <div class="col-md-8">
                                    <h6><b>{{ basic_data[0] }}</b></h6>
                                </div>
                            </div>

                            {% for i in range(2, 5) %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>{{ basic_fields[i] }}</h6>
                                </div>

                                <div class="col-md-8">
                                    <h6><b>{{ basic_data[i] }}</b></h6>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Address</h6>
                                </div>

                                <div class="col-md-8">
                                    {% if basic_data[5] %}
                                        <h6><b> {{ home_address[0] }}<br>
                                                {{ home_address[1] }}<br>
                                                {{ home_address[2] }}</b></h6>
                                    {% else %}
                                        <br><br><br>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h6>City</h6>
                                </div>

                                <div class="col-md-8">
                                    <h6><b>{{ basic_data[6] }}</b></h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>Work address</h6>
                                </div>

                                <div class="col-md-8">
                                    {% if basic_data[7] %}
                                        <h6><b> {{ work_address[0] }}<br>
                                                {{ work_address[1] }}<br>
                                                {{ work_address[2] }}</b></h6>
                                    {% else %}
                                        <br><br><br>
                                    {% endif %}
                                </div>
                            </div>

                            {% for i in range(8, 12) %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>{{ basic_fields[i] }}</h6>
                                </div>

                                <div class="col-md-8">
                                    <h6><b>{{ basic_data[i] }}</b></h6>
                                </div>
                            </div>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-md-5">
                                <h6>Gender</h6>
                                <h6>Age</h6>
                                <h6>Blood group</h6>
                                <h6>Weight (kgs)</h6>
                                <h6>Height (cms)</h6>
                                <h6>Obesity</h6>
                                <h6>Disability</h6>
                                <h6>Fitzpatrick skin type</h6>
                                <h6>Allergies</h6>
                                <h6>Diabetes</h6>
                                <h6>Thyroid</h6>
                                <h6>Cancer</h6>
                                <h6>Covid</h6>
                                <h6>Asthma</h6>
                                <h6>HIV/AIDS</h6>
                                <h6>Addictions</h6>
                            </div>

                            <div class="col-md-7">
                                {% for i in range(1, 18) %}
                                    <h6><b>{{ health_data[i] }}</b></h6>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <a class="btn btn-custom" href="{{ url_for('update_profile') }}" role="button">Update Profile</a>
            </div>

            <!-- Documents Card -->
            <div class="card shadow p-4 mt-4" id="documents-card">
                <h5>Documents</h5>
                
                <div class="row">
                    <div class="col">
                        <br>
                        {% if documents %}
                            <form action="{{ url_for('view_documents') }}" method="POST" enctype="multipart/form-data">
                                {% for data in documents %}
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h6>{{ data[1] }}</h6>
                                        </div>

                                        <div class="col-md-5">
                                            <button value="{{ data[2] }}" class="btn btn-custom btn-sm" name="document-button" 
                                                onclick="this.form.submit()" >
                                                View document
                                            </button>        
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </form>    
                        {% else %}
                            <h6>Your uploaded documents will appear here.</h6>
                        {% endif %}
                    </div>

                    <div class="col">
                        <img src="/static/images/documents-vector.png" alt="Documents Vector" width="300" height="240" />
                    </div>
                </div>

                <br>
                <div>
                    <form action="{{ url_for('upload_documents') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-outline">
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" name="document-name" placeholder="Enter your document name" class="form-control" />
                                </div>

                                <div class="col-md-4">
                                    <input type="file" name="document" class="btn btn-custom btn-sm" />
                                </div>

                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-custom btn-group-sm mx-4">Upload</button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>

            <!-- Appointment History Card -->
            <div class="card shadow p-4 my-4" id="appointment-history-card">
                {% if member_appointment_data %}
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Appointment history</h5>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()" checked required />
                                <label>Admin</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showMember()" />
                                <label>Member</label>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <h5>Appointment history</h5>
                {% endif %}

                {% if appointment_data %}
                    <br>
                    <h6>Showing appointments of <b>{{ basic_data[2] }} {{ basic_data[3] }}</b></h6>
                    <br>
                    <div class="row">

                        <div class="col-md-1">
                            <h6>ID</h6>
                        </div>

                        <div class="col-md-2">
                            <h6>Mode</h6>
                        </div>

                        <div class="col-md-3">
                            <h6>Doctor</h6>
                        </div>

                        <div class="col-md-3">
                            <h6>Date & Time</h6>
                        </div>

                        <div class="col-md-3">
                            <h6>Location</h6>
                        </div>
                    </div>
                    <hr>

                    {% for i in appointment_data %}
                        <div class="row">

                            <div class="col-md-1">
                                <h6>{{ i[0] }}</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>{{ i[1] }}</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>{{ i[5] }}</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>{{ i[7] }}<br>
                                    {{ i[8] }}</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>{{ i[9] }}, {{ i[10] }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if member_appointment_data %}
                <div class="card shadow p-4 my-4" id="member-appointment-history" >
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Member appointment history</h5>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" onclick="showAdmin()"/>
                                <label>Admin</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"  onclick="showMember()" checked required />
                                <label>Member</label>
                            </div>
                        </div>
                    </div>

                    {% for _ in range(length) %}
                        <br>
                        <h6>Showing appointments of <b>{{ member_basic_data[_][2] }} {{ member_basic_data[_][3] }}</b></h6>
                        <br>
                        <div class="row">

                            <div class="col-md-1">
                                <h6>ID</h6>
                            </div>

                            <div class="col-md-2">
                                <h6>Mode</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>Doctor</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>Date & Time</h6>
                            </div>

                            <div class="col-md-3">
                                <h6>Location</h6>
                            </div>
                        </div>
                        <hr>

                        {% for i in member_appointment_data[_] %}
                            <div class="row">

                                <div class="col-md-1">
                                    <h6>{{ i[0] }}</h6>
                                </div>

                                <div class="col-md-2">
                                    <h6>{{ i[1] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ i[5] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ i[7] }}<br>
                                        {{ i[8] }}</h6>
                                </div>

                                <div class="col-md-3">
                                    <h6>{{ i[9] }}, {{ i[10] }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not appointment_data %}
                <div class="card shadow p-4 mb-3" id="appointment-history-card">
                    <h6>Your appointments history will appear here.</h6>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>