/* Body */
body {
    background-color: whitesmoke;
}

/* Navigation Bar */
.navbar-custom {
    background-color: whitesmoke;
}

/* Login Card */
.card {
    width: 75rem;
    margin-left: 10rem;
}

/* Login Card: Login Form Column */
.card h1 {
    color: #22577A;
}

.btn-custom {
    background-color: #38A3A5;
    color: white;
}

.btn-custom:hover {
    background-color: #22577A;
    color: white;
}