<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya Centre | Update Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- CSS -->
    <link href="/static/css/update_profile.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom">

        <!-- Navigation Bar: Brand Logo -->
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">
                <img src="/static/images/logo.png" alt="Aarogya Centre Logo" width="200" height="100">
            </a>

            <!-- Navigation Bar: User Name -->
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {% if basic_data[1] %}
                            <img src="{{ basic_data[1] }}" width="50" height="50" 
                                style="border: 6px solid #22577A; border-radius: 100%;" />
                        {% else %}
                            <img src="/static/images/user-icon.png" width="50" height="50" 
                                style="border: 6px solid #22577A; border-radius: 100%;" />
                        {% endif %}
                        
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">View dashboard</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">View profile</a></li>
                        <li><a class="dropdown-item" href="#">Need help?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('home') }}">Log Out</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </nav>

    <div class="row w-100 mb-4">
        <div class="col-md-6">

            <!-- Update Basic Data Card -->
            <div class="card shadow p-4" id="update-basic-data-card">
                <h5>Update Basic Information</h5>
                <br>

                <form action="{{ url_for('update_basic_data') }}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            {% if basic_data[1] %}
                                <img src="{{ basic_data[1] }}" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br>
                            {% else %}
                                <img src="/static/images/user-icon.png" width="110" height="110" 
                                    style="border: 6px solid #22577A; border-radius: 100%;" /><br>
                            {% endif %}
                
                        </div>
    
                        <div class="col">
                            <br><br>
                            <input type="file" name="profile-picture" class="btn btn-custom" />
                        </div>
                    </div>
    
                    <br><br>
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>First name</b></label>
                        <input type="text" name="first-name" value="{{ basic_data[2] }}" placeholder="Enter your first name"
                            class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Last name</b></label>
                        <input type="text" name="last-name" value="{{ basic_data[3] }}" placeholder="Enter your last name"
                            class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Birth date</b></label>
                        <input type="date" name="birth-date" value="{{ basic_data[4] }}" class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Home address</b></label>
                        <input type="text" name="address-first" value="{{ home_address[0] }}" placeholder="Flat number, Building name" 
                            class="form-control" />
                        <input type="text" name="address-second" value="{{ home_address[1] }}" placeholder="Neighbourhood name" 
                            class="form-control mt-3" />
                        <input type="text" name="address-third" value="{{ home_address[2] }}" placeholder="Landmark" 
                            class="form-control mt-3" />
                    </div>

                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Home city</b></label>
                        <input type="text" name="city" value="{{ basic_data[6] }}" placeholder="Enter your home city"
                            class="form-control" />
                    </div>
    
                    {% if account_type == 'Doctor' %}
                        <div class="form-outline mt-2">
                            <label class="form-label"><b>Work address</b></label>
                            <input type="text" name="work-address-first" value="{{ work_address[0] }}" placeholder="Hospital name" 
                                class="form-control" />
                            <input type="text" name="work-address-second" value="{{ work_address[1] }}" placeholder="Street name, Neighbourhood name" 
                                class="form-control mt-3" />
                            <input type="text" name="work-address-third" value="{{ work_address[2] }}" placeholder="Landmark" 
                                class="form-control mt-3" />
                        </div>

                        <div class="form-outline mt-2">
                            <label class="form-label"><b>Work city</b></label>
                            <input type="text" name="work-city" value="{{ basic_data[8] }}" placeholder="Enter your work city"
                                class="form-control" />
                        </div>

                        <div class="form-outline mt-2">
                            <label class="form-label"><b>Specialization</b></label><br>

                            <select class="select form-control" name="doctor-speciality">
                                <option value="{{ basic_data[9] }}" selected>{{ basic_data[9] }}</option>
                                <option value="Allergist/Immunologist">Allergist/Immunologist</option>
                                <option value="Cardiologist">Cardiologist</option>
                                <option value="Dermatologist">Dermatologist</option>
                                <option value="Endocrinologist">Endocrinologist</option>
                                <option value="Family Physician">Family Physician</option>
                                <option value="Gastroenterologist">Gastroenterologist</option>
                                <option value="Nephrologist">Nephrologist</option>
                                <option value="Neurologist">Neurologist</option>
                                <option value="Pathologist">Pathologist</option>
                                <option value="Pediatrician">Pediatrician</option>
                                <option value="Physiatrist">Physiatrist</option>
                                <option value="Radiologist">Radiologist</option>
                                <option value="General Surgeon">General Surgeon</option>
                                <option value="Urologist">Urologist</option>
                                <option value="Dentist">Dentist</option>
                            </select>
                        </div>

                    {% endif %}

                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Mobile number</b></label>
                        {% if account_type == 'Doctor' %}
                            <input type="number" name="mobile-number" value="{{ basic_data[10] }}" placeholder="Enter your mobile number"
                                class="form-control" />
                        {% else %}
                            <input type="number" name="mobile-number" value="{{ basic_data[7] }}" placeholder="Enter your mobile number"
                                class="form-control" />
                        {% endif %}
                    </div>
    
                    <br><br>
                    <button type="submit" class="btn btn-custom btn-lg">Submit</button>
                </form>
            </div>

            <!-- Update Login Data Card -->
            <div class="card shadow p-4 mt-4" id="update-login-data-card">
                <h5>Update Login Information</h5>

                <br>
                <form action="{{ url_for('update_login_data') }}" method="POST">
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Email address</b></label>
                        {% if account_type == 'Doctor' %}
                            <input type="email" name="email-address" value="{{ basic_data[11] }}" placeholder="Enter your email address"
                                class="form-control" />
                        {% else %}
                            <input type="email" name="email-address" value="{{ basic_data[8] }}" placeholder="Enter your email address"
                                class="form-control" />
                        {% endif %}
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Password</b></label>
                        <input type="password" name="password" placeholder="Enter your new password" class="form-control" />
                    </div>
    
                    <div class="form-outline mt-2">
                        <label class="form-label"><b>Re-enter password</b></label>
                        <input type="password" name="re-enter-password" placeholder="Re-enter your new password" class="form-control" />
                    </div>
    
                    <br><br>
                    <div>
                        <button type="submit" class="btn btn-custom btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">

            <!-- Update Health Data Card -->
            <div class="card shadow p-4" id="update-health-data-card">
                <h5>Update Health Information</h5>

                <br><br>
                <form action="{{ url_for('update_health_data') }}" method="POST">
                    <div class="form-outline">
                        <label class="form-label"><b>Gender</b></label><br>
                        {% if health_data[1] == 'Male' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Male" checked />
                                <label>Male</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Female" />
                                <label>Female</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Other" />
                                <label>Other</label>
                            </div>
                        {% endif %}

                        {% if health_data[1] == 'Female' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Male" />
                                <label>Male</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Female" checked />
                                <label>Female</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gender" value="Other" />
                                <label>Other</label>
                            </div>
                        {% endif %}
                        
                        {% if health_data[1] == 'Other' %}
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Male" />
                            <label>Male</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Female" />
                            <label>Female</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" value="Other" checked />
                            <label>Other</label>
                        </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-outline">
                        <label class="form-label"><b>Blood Group</b></label><br>

                        <select class="select form-control" name="blood-group">
                            {% if health_data[3] %}
                                <option value="{{ health_data[3] }}">{{ health_data[3] }}</option>
                            {% else %}
                                <option value="">Choose blood group</option>
                            {% endif %}
                            <option value="A +">A +</option>
                            <option value="A -">A -</option>
                            <option value="B +">B +</option>
                            <option value="B -">B-</option>
                            <option value="AB +">AB +</option>
                            <option value="AB -">AB -</option>
                            <option value="O +">O +</option>
                            <option value="O -">O -</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Weight</b></label>
                        <input type="number" name="weight" placeholder="Enter your weight in kgs" value="{{ health_data[4] }}" 
                            class="form-control" />
                    </div>
    
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Height</b></label>
                        <input type="number" name="height" placeholder="Enter your height in cms" value="{{ health_data[5] }}" 
                            class="form-control" />
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Disability</b></label>
                        <select class="select form-control" name="disability">
                            {% if health_data[7] %}
                                <option value="{{ health_data[7] }}">{{ health_data[7] }}</option>
                            {% else %}
                                <option value="">Choose disability type</option>
                            {% endif %}
                            <option value="No" style="font-weight: bold">No</option>
                            <optgroup label="Locomotor Disability">
                                <option value="Leprosy Cured Person">Leprosy Cured Person</option>
                                <option value="Cerebral Palsy">Cerebral Palsy</option>
                                <option value="Dwarfism">Dwarfism</option>
                                <option value="Muscular Dystrophy">Muscular Dystrophy</option>
                                <option value="Acid Attack Victims">Acid Attack Victims</option>
                            </optgroup>
                            <optgroup label="Visual Impairment">
                                <option value="Blindness">Blindness</option>
                                <option value="Low Vision">Low Vision</option>
                            </optgroup>
                            <optgroup label="Hearing Impairment">
                                <option value="Deaf">Deaf</option>
                                <option value="Hard of Hearing">Hard of Hearing</option>
                            </optgroup>
                            <option value="Speech and Language Disability" style="font-weight: bold">Speech and Language Disability</option>
                            <optgroup label="Intellectual Disability">
                                <option value="Specific Learning Disabilities">Specific Learning Disabilities</option>
                                <option value="Autism Spectrum Disorder">Autism Spectrum Disorder</option>
                            </optgroup>
                            <option value="Mental Behaviour (Mental Illness)" style="font-weight: bold">Mental Behaviour (Mental Illness)</option>
                            <optgroup label="Chronic Neurological Conditions">
                                <option value="Multiple Sclerosis">Multiple Sclerosis</option>
                                <option value="Parkinsons Disease">Parkinson's Disease</option>
                            </optgroup>
                            <optgroup label="Blood Disorder">
                                <option value="Haemophilia">Haemophilia</option>
                                <option value="Thalassemia">Thalassemia</option>
                                <option value="Sickle Cell Disease">Sickle Cell Disease</option>
                            </optgroup>
                            <option value="Multiple Disabilities" style="font-weight: bold">Multiple Disabilities</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Fitzpatrick Skin Type</b></label>
                        <select class="select form-control" name="fitzpatrick-skin-type">
                            {% if health_data[8] %}
                                <option value="{{ health_data[8] }}">{{ health_data[8] }}</option>
                            {% else %}
                                <option value="">Choose fitzpatrick skin type</option>
                            {% endif %}
                            <option value="Type 1">Type 1</option>
                            <option value="Type 2">Type 2</option>
                            <option value="Type 3">Type 3</option>
                            <option value="Type 4">Type 4</option>
                            <option value="Type 5">Type 5</option>
                            <option value="Type 6">Type 6</option>
                        </select>
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Allergies</b></label>
                        <input type="text" name="allergies" placeholder="Enter your allergies" value="{{ health_data[9] }}" 
                            class="form-control" />
                    </div>

                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Cancer</b></label>
                        <select name="cancer" class="select form-control">
                            {% if health_data[12] %}
                                <option value="{{ health_data[12] }}">{{ health_data[12] }}</option>
                            {% else %}
                                <option value="">Choose type of cancer</option>
                            {% endif %}
                            <option value="No">No</option>
                            <option value="Bladder Cancer">Bladder Cancer</option>
                            <option value="Breast Cancer">Breast Cancer</option>
                            <option value="Colon and Rectal Cancer">Colon and Rectal Cancer</option>
                            <option value="Endometrial Cancer">Endometrial Cancer</option>
                            <option value="Kidney Cancer">Kidney Cancer</option>
                            <option value="Leukemia">Leukemia</option>
                            <option value="Liver Cancer">Liver Cancer</option>
                            <option value="Lung Cancer">Lung Cancer</option>
                            <option value="Melanoma">Melanoma</option>
                            <option value="Non-Hodgkin Lymphoma">Non-Hodgkin Lymphoma</option>
                            <option value="Pancreatic Cancer">Pancreatic Cancer</option>
                            <option value="Prostate Cancer">Prostate Cancer</option>
                            <option value="Thyroid Cancer">Thyroid Cancer</option>
                        </select>
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Diabetes</b></label><br>
                        {% if health_data[10] == 'No' or not health_data[10] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" />
                                <label>Type 2</label>
                            </div>
                        {% endif %}

                        {% if health_data[10] == 'Type 1' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" checked />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" />
                                <label>Type 2</label>
                            </div>
                        {% endif %}
                        
                        {% if health_data[10] == 'Type 2' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 1" />
                                <label>Type 1</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="diabetes" value="Type 2" checked />
                                <label>Type 2</label>
                            </div>
                        {% endif %}
                    </div>

                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Thyroid</b></label><br>
                        {% if health_data[11] == 'No' or not health_data[11] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}

                        {% if health_data[11] == 'Hyperthyroidism' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" checked />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}
                    
                        {% if health_data[11] == 'Hypothyroidism' %}    
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hyperthyroidism" />
                                <label>Hyperthyroidism</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="thyroid" value="Hypothyroidism" checked />
                                <label>Hypothyroidism</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Covid</b></label><br>
                        {% if health_data[13] == 'No' or not health_data[13] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="Yes" />
                                <label>Yes</label>
                            </div>
                        {% endif %}

                        {% if health_data[13] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="covid" value="Yes" checked />
                                <label>Yes</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Asthma</b></label><br>
                        {% if health_data[14] == 'No' or not health_data[14] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="Yes" />
                                <label>Yes</label>
                            </div>
                        {% endif %}

                        {% if health_data[14] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="asthma" value="Yes" checked />
                                <label>Yes</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>HIV/AIDS</b></label><br>
                        {% if health_data[15] == 'No' or not health_data[15] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="Yes" />
                                <label>Yes</label>
                            </div>
                        {% endif %}

                        {% if health_data[15] == 'Yes' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="hiv-aids" value="Yes" checked />
                                <label>Yes</label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br>
                    <div class="form-ouline mt-2">
                        <label class="form-label"><b>Addiction</b></label><br>
                        {% if health_data[16] == 'No' or not health_data[16] %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" checked />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Smoking" />
                                <label>Smoking</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Alcohol" />
                                <label>Alcohol</label>
                            </div>
                        {% endif %}

                        {% if health_data[16] == 'Smoking' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Smoking" checked />
                                <label>Smoking</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Alcohol" />
                                <label>Alcohol</label>
                            </div>
                        {% endif %}

                        {% if health_data[16] == 'Alcohol' %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="No" />
                                <label>No</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Smoking" />
                                <label>Smoking</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="addiction" value="Alcohol" checked />
                                <label>Alcohol</label>
                            </div>
                        {% endif %}
                    </div>
    
                    <br><br><br>
                    <button type="submit" class="btn btn-custom btn-lg">Submit</button>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>