/* Body */
body {
    background-color: whitesmoke;
}

/* Navigation Bar */
.navbar-custom {
    background-color: whitesmoke;
}

/* Navigation Bar: User Name */
.nav-link a {
    padding: 5rem;
}

/* Update Basic Data Card */
#update-basic-data-card {
    margin-left: 10rem;
}

#update-basic-data-card h5 {
    color: #22577A;
}

/* Update Login Data Card */
#update-login-data-card {
    margin-left: 10rem;
}

#update-login-data-card h5 {
    color: #22577A;
}

/* Update Health Data Card */
#update-health-data-card {
    width: 37rem;
}

#update-health-data-card h5 {
    color: #22577A;
}

.btn-custom {
    background-color: #38A3A5;
    color: white;
}

.btn-custom:hover {
    background-color: #22577A;
    color: white;
}